<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
</head>
<body>
    <header>
        <div>
            <a href="/main_page">Home</a>
        </div>
        <div>
            <a href="{{'/teams'}}">Teams</a>
            <a href="{{'/players'}}">Players</a>
            <a href="{{'/login'}}">Login</a>
            <a href="{{'/register'}}">Register</a>
        </div>
    </header>
    <div class="center-image">
        <img src="{{ url_for('static', filename='elle.jpg') }}" alt="Center Image">
    </div>
</body>
</html>
