<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <h1>Main Page</h1>
    {% if user != None %}
        <h2>{{user}}</h2>
        <img src="{{"/static/elle.jpg"}}" alt="{{user}}" style="width: 200px;">
    {% endif %}
    <div class="div">
        <form action="/form" method="post">
            <input type="text" name="name" placeholder="請輸入姓名">
            <input type="submit" value="送出">
        </form>
    </div>

    <div class="logout">
        <form action="/logout" method="get">
            <button class = logout-btn type = "submit">帳號登出</button>
        </form>
    </div>
</body>
</html>

