<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ player.DISPLAY_FIRST_LAST }}'s Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/players_detail.css') }}">
</head>
<body>
    <header>
        <div>
            <a href="/main_page">Home</a>
        </div>
        <div>
            <a href="{{'/teams'}}">Teams</a>
            <a href="{{'/players'}}">Players</a>
            <a href="/logout">Log out</a>
        </div>
    </header>
    
    <div>
    <h1>{{ player.DISPLAY_FIRST_LAST }}</h1>
    <p><strong>Team:</strong> <a href="/team/{{ player.team }}">{{ player.TEAM_NAME }}</a></p>
    </div>

    <h2>All Stats</h2>
    
    {% if stats %}
        <div id="results">
            <table>
                <thead>
                    <tr>
                        <th>Avg_points</th>
                        <th>Avg_rebounds</th>
                        <th>Avg_steals</th>
                        <th>Avg_blocks</th>
                        <th>Avg_assists</th>
                        <th>Avg_fouls</th>
                        <th>Avg_turnovers</th>
                        <th>Avg_minutes_played</th>
                        <th>Avg_field_goal_percentage</th>
                        <th>Avg_three_point_percentage</th>
                        <th>Avg_free_throw_percentage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stat in stats %}
                        <tr>
                            <td>{{ stat.avg_points }}</a></td>
                            <td>{{ stat.avg_rebounds }}</td>
                            <td>{{ stat.avg_steals }}</td>
                            <td>{{ stat.avg_blocks }}</td>
                            <td>{{ stat.avg_assists }}</td>
                            <td>{{ stat.avg_fouls }}</td>
                            <td>{{ stat.avg_turnovers }}</td>
                            <td>{{ stat.avg_minutes_played }}</td>
                            <td>{{ stat.avg_field_goal_percentage }}</td>
                            <td>{{ stat.avg_three_point_percentage }}</td>
                            <td>{{ stat.avg_free_throw_percentage }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No stats found.</p>
    {% endif %}

    <h2><a href="/players">Back to Players Home</a></h2>
</body>
</html>
